<div class="container">
  <div class="row">
    <div class="col sm-4">
      <div class="container">
        <h2>Ligue 1</h2>
        <p>Premium Products</p>
        <div class="card" style="width:500px">
          <img class="card-img-top" src="../assets/images/shirt.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Juventus Jersey</h4>
            <p class="card-text">Amazing quality product from Adidas.</p>
            <p>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </p>
            <h5>₹150.00</h5>
            <div class="mt-2">
              <button class="btn btn-primary" (click)="initPay()">Pay with Razorpay</button>
              <br>
              <br>
          </div>
       </div>
       </div>
      </div>
      </div>
    <br>
    <br>
    <div class="col sm-4">
        <div class="container">
          <h2>Premier League </h2>
          <p>Premium Products</p>
          <div class="card" style="width:500px">
            <img class="card-img-top" src="../assets/images/download.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Man City Jersey</h4>
              <p class="card-text">Amazing quality product from Puma.</p>
              <p>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </p>
              <h5>₹150.00</h5>
              <div class="mt-2">
                <button class="btn btn-primary" (click)="initPay()">Pay with Razorpay</button>
                <br>
                <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
  </div>
